.row{
    background-color:rgb(96, 161, 236)      
}

.btn{

   margin-bottom: 20px;
}
h2{
   font-family: 'Arial Narrow', Arial, sans-serif;
}
div{
   padding: 10px;
}
#descripcionExp{
   width: 500px;
 }
 